$red: (name: 'red', label: 'red', background-color: #e71414, color: white, border-color: -5%, hover: -7%);
$pink: (name: 'pink', label: 'pink', background-color: #e91eb6, color: white, border-color: -5%, hover: -7%);
$purple: (name: 'purple', label: 'purple', background-color: #9C27B0, color: white, hover: 11%);
$indigo: (name: 'indigo', label: 'indigo', background-color: #3F51B5, color: white, hover: 10%);
$blue: (name: 'blue', label: 'blue', background-color: #2196F3, color: white);
$cyan: (name: 'cyan', label: 'cyan', background-color: #00BCD4, color: white, hover: -8%);
$teal: (name: 'teal', label: 'teal', background-color: #00a090, color: white, hover: -7%);
$green: (name: 'green', label: 'green', background-color: #2eaf33, color: white);
$lime: (name: 'lime', label: 'lime', background-color: #88dc39, color: black, border-color: -8%, hover: -10%);
$yellow: (name: 'yellow', label: 'yellow', background-color: #ffdd00, color: black, border-color: -2%, hover: -3%);
$amber: (name: 'amber', label: 'amber', background-color: #ffb43e, color: black, border-color: -5%, hover: -12%);
$orange: (name: 'orange', label: 'orange', background-color: #e76000, color: white, border-color: -3%, hover: -5%);
$brown: (name: 'brown', label: 'brown', background-color: #6b4b3f, color: white, hover: 10%);

$white: (name: 'white', label: 'white', background-color: white, color: black, hover: -6%);
$grey: (name: 'grey', label: 'grey', background-color: #dadada, color: black, hover: -6%);
$black: (name: 'black', label: 'black', background-color: #222222, color: white, hover: 20%);
